# This loads the SF data and sorts it and dumps it to an csv file

In [46]:
import pandas as pd
import os

In [51]:
crime_data = pd.read_csv("SFPD_Incidents_-_from_1_January_2003.csv")

In [53]:
#Now we will sort the Data by year
def getYear(date):
    return int(date.split('/')[2])

# Let's add a column by its year
crime_data ['Year'] = crime_data ['Date'].apply(lambda x: getYear(x))
crime_data.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,Year
0,150060275,NON-CRIMINAL,LOST PROPERTY,Monday,01/19/2015,14:00,MISSION,NONE,18TH ST / VALENCIA ST,-122.421582,37.761701,"(37.7617007179518, -122.42158168137)",15006027571000,2015
1,150098210,ROBBERY,"ROBBERY, BODILY FORCE",Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821003074,2015
2,150098210,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821004014,2015
3,150098210,SECONDARY CODES,DOMESTIC VIOLENCE,Sunday,02/01/2015,15:45,TENDERLOIN,NONE,300 Block of LEAVENWORTH ST,-122.414406,37.784191,"(37.7841907151119, -122.414406029855)",15009821015200,2015
4,150098226,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Tuesday,01/27/2015,19:00,NORTHERN,NONE,LOMBARD ST / LAGUNA ST,-122.431119,37.800469,"(37.8004687042875, -122.431118543788)",15009822628160,2015

In [68]:

crime_data03=crime_data[crime_data['Year']==2003].reset_index()
crime_data15=crime_data[crime_data['Year']==2015].reset_index()
crime_data03.head()

,index,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId,Year
0,226374,31253323,TRESPASS,TRESPASSING,Friday,10/24/2003,20:15,SOUTHERN,NONE,800 Block of MARKET ST,-122.406691,37.785207,"(37.7852071918419, -122.406690592261)",3125332327195,2003
1,228090,31127819,ASSAULT,THREATS AGAINST LIFE,Wednesday,09/24/2003,12:15,PARK,NONE,1400 Block of PAGE ST,-122.444713,37.771302,"(37.771302186583, -122.444712962011)",3112781919057,2003
2,230151,30239564,ASSAULT,BATTERY,Wednesday,02/26/2003,16:50,SOUTHERN,NONE,1400 Block of MARKET ST,-122.418481,37.775898,"(37.775898446204, -122.418480564808)",3023956404134,2003
3,231456,30348096,ASSAULT,BATTERY,Monday,03/24/2003,20:08,BAYVIEW,"ARREST, BOOKED",0 Block of APOLLO ST,-122.397783,37.732115,"(37.7321151302341, -122.397782740798)",3034809604134,2003
4,233967,31200506,ASSAULT,BATTERY,Sunday,10/12/2003,01:45,CENTRAL,"ARREST, BOOKED",900 Block of MASON ST,-122.410846,37.792316,"(37.7923158747647, -122.410845624227)",3120050604134,2003

In [70]:
Total = crime_data15.filter(items=['PdDistrict','Category']).groupby(['PdDistrict']).count()
Total['total03']=crime_data03.filter(items=['PdDistrict','Category']).groupby(['PdDistrict']).count()
Total['prost03']=crime_data03[(crime_data03['Category'] == 'PROSTITUTION')].filter(items=['PdDistrict','Category']).groupby(['PdDistrict']).count()
Total['vTheft03']=crime_data03[(crime_data03['Category'] == 'VEHICLE THEFT')].filter(items=['PdDistrict','Category']).groupby(['PdDistrict']).count()

Total['total15']=crime_data15.filter(items=['PdDistrict','Category']).groupby(['PdDistrict']).count()
Total['prost15']=crime_data15[(crime_data15['Category'] == 'PROSTITUTION')].filter(items=['PdDistrict','Category']).groupby(['PdDistrict']).count()
Total['vTheft15']=crime_data15[(crime_data15['Category'] == 'VEHICLE THEFT')].filter(items=['PdDistrict','Category']).groupby(['PdDistrict']).count()



#crime_focus16 = crime_data16.groupby(['PdDistrict', 'Category']).count().reset_index()
Total.head()

            Category  total03  prost03  vTheft03  total15  prost15  vTheft15
PdDistrict
BAYVIEW        14711    15739       11      2121    14711        7       985
CENTRAL        18565    13622       70      1193    18565       44       552
INGLESIDE      13414    14008        5      2319    13414        5      1368
MISSION        18542    21163      713      2063    18542       66      1198
NORTHERN       20092    18975      581      1879    20092       42       945

In [76]:
Total.to_csv(os.path.join('C:\ipython\data_analysis\d3\sunnalilja.github.io','DataSF.csv'), index = True)